.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  border: 0.2vw solid var(--secondary-color);
  border-radius: 25px;
  font-size: 1.8vw;
}

@media (max-width: 767px) { 
  .menu ul {
    font-size: 2.8vw;
  }
}

.menu li {
  float: left;
  border-left: 0.1vw solid var(--secondary-color);
    box-shadow: 5px 5px 5px rgba(138, 66, 66, 0.1);
}

.menu li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:  var(--text-background-color);
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 5px 5px 5px rgba(138, 66, 66, 0.1);
}

.menuempty {
	padding: 14px 16px;
}

.menu li a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
   box-shadow: 5px 5px 5px rgba(138, 66, 66, 0.1);
}