.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  border: 0.2vw solid var(--primary-color);
  border-radius: 25px;
}

.menu li {
  float: left;
  border-left: 0.1vw solid var(--primary-color);
}

.menu li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:  #333333;
}

.menuempty {
	padding: 14px 16px;
}
.menu li a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}