body {
	font-family: Georgia, Arial;
	font-size: 1.8vw;
	padding: 3vw;
	border-radius: 25px;
	background-color: var(--background-color);
	color: var(--primary-color);
}

.header {
	font-size: 4.6vw;
	text-align: center;
}

.header-2 {
	font-size: 3.2vw;
	text-align: center;
}

.header-3 {
	font-size: 2.8vw;
	text-align: center;
}

/* Extra small devices (phones) */
@media (max-width: 575px) { 
	body{
		font-size: 3.6vw;
	}
	.header {
		font-size: 4.6vw;
		text-align: center;
	}
	
	.header-2 {
		font-size: 3.6vw;
		text-align: center;
	}
	
	.header-3 {
		font-size: 2.8vw;
		text-align: center;
	}
 }

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767px) { 
	body{
		font-size: 3.2vw;
	}
	.header {
		font-size: 4.6vw;
		text-align: center;
	}
	
	.header-2 {
		font-size: 3.2vw;
		text-align: center;
	}
	
	.header-3 {
		font-size: 2.6vw;
		text-align: center;
	}
 }

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {  }

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {  }

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {  }


blockquote {
	border: var(--secondary-color) solid 0.15vw;
	border-radius: 25px;
	padding: 1vw;
	display: inline-block;
	font-size: 1.4vw;
}

hr {
	border-color: var(--secondary-color);
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.text-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--text-background-color);
	border-radius: 25px;
	border: 1px solid var(--primary-color);
}

.text-block-paragraph {
	flex: 0 0 48%;
	padding: 8px;
}

.text-block {
	padding: 8px;
}

.footer-separator {
	width: 75%;
}

.footer {
	font-size: 1.5vw;
	text-align: center;
}

.footer-image {
	height: auto;
	width: 5vw;
}


.header-image {
	width: 13vw;
	height: "auto";
}

.copyright {
	font-size: 1.2vw;
}

.circle-image {
    display: inline-block;
    overflow: hidden;
	width: 20vw;
	height: "auto";
	margin-left: auto;
  	margin-right: auto;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 95%;
}