body {
	font-family: Consolas, Didot, Garamond, Georgia, arial;
	font-size: 1.8vw;
	padding: 3vw;
	border: var(--primary-color) solid 0.4vw;
	border-radius: 25px;
	background-color: var(--background-color);
	color: var(--primary-color);
}

blockquote {
	border:var(--primary-color) solid 0.15vw;
	border-radius: 25px;
	padding: 1vw;
	display: inline-block;
}

hr {
	border-color: var(--primary-color);
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
}

h3 {
	text-align:center;
}

.text-block{
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	background-color: var(--text-background-color);
	border-radius: 25px;
	border: 1px solid var(--primary-color);
}

.text-block-paragraph{
	flex: 0 0 48%;
	padding: 8px; 
}

.text-block{
	padding: 8px;
}

.footer-separator {
	width: 50%;
}

.footer {
	font-size: 1.5vw;
	text-align:center;
}