body {
	font-family: Didot, Garamond, Georgia, arial;
	font-size: 2.0vw;
	padding: 3vw;
	border: black solid 0.4vw;
	border-radius: 25px;
	background-color: beige;
}

blockquote {
	border:black solid 0.25vw;
	border-radius: 25px;
	padding: 1vw;
	width: 80%;
}

hr {
	border-color: black;
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
}

h3 {
	text-align:center;
}

.footer {
	font-size: 1.5vw;
	text-align:center;
}