.twitter {
    width: 2.5vw;
    height: "auto";
}

.youtube {
    width: 3.6vw;
    height: "auto";
}

.instagram {
    width: 3.0vw;
    height: "auto";
}

.bluesky
{
    width: 3.0vw;
    height: "auto";
}

.email {
    font-size: 4.0vw;
}

@media(max-width: 767px) {  
    .twitter {
        width: 3.8vw;
    }
    
    .youtube {
        width: 5.4vw;
    }
    
    .instagram {
        width: 4.6vw;
    }
    
    .bluesky
    {
        width: 4.0vw;
    }
    .email {
        font-size: 6.5vw;
    }  
}